body{
  background-color: gainsboro;
}

header {
  background-image:url(./images/plano-de-fundo-header.png);
  opacity: 0.8;
}

header img {
  width: 12vh;
  background-color: whitesmoke;
  border-radius: 14px;
}

.nav-link {
  text-align: center;
  color: white;
}

.carousel-item img {
  max-height: 480px; 
  width: 100%;
}
